.Todos2{
    margin: 0;
    height: 1015px;
    width: 100%;
    background: linear-gradient(to right,#6d1345,#7e154f 20%, #df5442 );
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    img{
        margin-top: 100px;
        height: 150px;
        width: 150px;   
        border-radius: 50%; 
    }
    h1{
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    .requisitos2{
        font-family: 'Oswald', sans-serif;
        margin-top: 20px;
        background-color: rgb(199, 199, 199);
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        .Linha{
            margin-top: 20px; 
            background-color: black;
            width: 90%;
            height: 2px;
        } 
        h2{
           color:rgb(214, 57, 89);
        }
        p{
            font-size: 18px;
            margin: 3px;
            text-align: center;
            margin-bottom: 10px;
        }
        button{
            outline: none;
            margin-top: 5px;
            cursor: pointer;
            font-family: 'Oswald', sans-serif;
            margin-bottom: 20px;
            height: 50px;
            width: 150px;
            border-radius: 30px;
            font-weight: 600;
            font-size: 20px;
            color: white;
            border: none;
            background: linear-gradient(to right, #6d1345, #7e154f 20%, #df5442);
        }
        
    } 
}