.Input {
    display: flex;
    flex-direction: column;
    label {
      font-family: 'Oswald', sans-serif;
      margin-bottom: 10px;
      color: #7e154f;
      font-size: 22px;
      font-weight: 500;

    }
    input {
      font-size: 17px;
      font-family: 'Oswald', sans-serif;
      border: none;
      width: 200px;
      height: 30px; 
      border: 2px solid #cc6457f1 ;
      border-radius: 10px;
      padding: 0 10px;
      color: black;
      outline: none;
      margin-bottom: 30px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.801);
        font-size: 15px;
      }
    }
  }